.toolbar {
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #212121;
    padding: 4px;
}

.spacer {
    flex: 1 1 auto;
}

.icon {
    color: white;
    position:relative;
}

.mat-divider {
    border-top-width: 2px;
    border-color: white;
}

.button {
    color: white;
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.logo {
    color: white;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    padding-left: 20px;
}

   