<mat-toolbar class="toolbar">
  <button mat-icon-button class="icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button class="icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon>calendar_month</mat-icon>
  </button>
  <button mat-button class="profile"></button>
</mat-toolbar>

<mat-drawer-container class="container" hasBackdrop="false" >
    <mat-drawer #drawer class="sidenav" mode="push">
        <mat-list>
            <mat-list-item>
                <button mat-button class="button">
                    <mat-icon class="icon">monitor_heart</mat-icon>
                    <span class="button-text">DASHBOARD</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="button">
                    <mat-icon class="icon">fitness_center</mat-icon>
                    <span class="button-text">WORKOUTS</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="button">
                    <mat-icon class="icon">restaurant</mat-icon>
                    <span class="button-text">MEALS</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="button">
                    <mat-icon class="icon">flag</mat-icon>
                    <span class="button-text">GOALS</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="button">
                    <mat-icon class="icon">star</mat-icon>
                    <span class="button-text">PERSONAL BEST</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="button">
                    <mat-icon class="icon">sports_gymnastics</mat-icon>
                    <span class="button-text">EXERCISES</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="button">
                    <mat-icon class="icon">checklist</mat-icon>
                    <span class="button-text">EVALUATION</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
</mat-drawer-container>