<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="20">
    <mat-toolbar fxLayoutAlign="center center" class="toolbar-div">
      <span class="title">LOGIN</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <mat-label>Enter your username</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" />
        <!-- <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button> -->
      </mat-form-field>
      <span class="span-forget">Forget your <a href="" class="href"> password</a>?</span>
      <div fxLayoutAlign="center center" fxFlexFill class="button-div">
        <button mat-raised-button type="submit" class="button">LOGIN</button>
      </div>
    </form>
    <div fxLayoutAlign="center center" fxFlexFill>
      <span class="span-new" >Are you new here? <a href="" class="href"> Sign up</a></span>
    </div>
    <p></p>
  </mat-card>
</div>
