<mat-nav-list>
    <mat-list-item>
        <button mat-button class="button" routerLinkActive="list-item-active" routerLink="/dashboard">
            <mat-icon class="icon">monitor_heart</mat-icon>
            <span class="button-text">DASHBOARD</span>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button class="button" routerLinkActive="list-item-active" routerLink="">
            <mat-icon class="icon">fitness_center</mat-icon>
            <span class="button-text">WORKOUTS</span>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button class="button" routerLinkActive="list-item-active" routerLink="">
            <mat-icon class="icon">restaurant</mat-icon>
            <span class="button-text">MEALS</span>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button class="button" routerLinkActive="list-item-active" routerLink="">
            <mat-icon class="icon">flag</mat-icon>
            <span class="button-text">GOALS</span>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button class="button" routerLinkActive="list-item-active" routerLink="">
            <mat-icon class="icon">star</mat-icon>
            <span class="button-text">PERSONAL BEST</span>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button class="button" routerLinkActive="list-item-active" routerLink="">
            <mat-icon class="icon">sports_gymnastics</mat-icon>
            <span class="button-text">EXERCISES</span>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button class="button" routerLinkActive="list-item-active" routerLink="">
            <mat-icon class="icon">checklist</mat-icon>
            <span class="button-text">EVALUATION</span>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button class="button" routerLinkActive="list-item-active" routerLink="">
            <mat-icon class="icon">person</mat-icon>
            <span class="button-text">PROFILE</span>
        </button>
    </mat-list-item>
  </mat-nav-list>
